body {
    background-color: #16A085;
    font-family: cursive;
}

.glow {
    font-size: 80px;
    color: #E0E722;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #E0E722, 0 0 30px #E0E722, 0 0 40px #E0E722, 0 0 50px #E0E722, 0 0 60px #E0E722, 0 0 70px #E0E722;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #44D62C, 0 0 40px #44D62C, 0 0 50px #44D62C, 0 0 60px #44D62C, 0 0 70px #44D62C, 0 0 80px #44D62C;
      }
}
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_glowing_text*/